Jersey/src/main/java/ie/gmit/sw/Jersey/Model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/generateSchema"
	xmlns:tns="http://www.example.org/generateSchema"
	elementFormDefault="qualified">

	<element name="bookings">
		<complexType>
			<sequence>
				<element name="booking_ID" type="int"></element>
				<element name="name" type="string"></element>
				<element name="start_date" type="string"></element>
				<element name="end_date" type="string"></element>
				<element name="carmake" type="string"></element>
				<element name="carreg" type="string"></element>
			</sequence>
		</complexType>
	</element>

</schema>